<div class="nav">
    <div class="container">
        <div class="nav-logo">
            <a class="logo" href="/">
                <h2>
                    Valuta
                </h2>
            </a>
        </div>
            
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search for friends" id="friends-search">
            </div>

        <div class="user-info-container">
            <div class="user-profile-info">
        
                <div class="profile-picture">
                    <img src="./images/<%- user.avatar %>" alt="user profile picture">
                </div>
                <div class="profile-details">
                    <h4 class="handle"><%- user.name %></h4>
                    <p class="text-muted">@<%- user.username %></p>
                </div>

                <div id="logout">
                    <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
                </div>
            </div>
        </div>
        
    </div>
</div>