<%- include("./components/admin-left.ejs") %>

<h1>Dashboard</h1>

<div class="main-content">
    
    <!-- EJS Editable Card -->
    <div class="card users-card">
        <i class="fa-solid fa-chart-simple"></i>
        <div class="middle">
            <div class="left">
                <h3>Total Users</h3>
                <h1 id="total-users">0 Users</h1>
            </div>

           
        </div>
        <small class="text-muted" id="total-users-online">0 Online</small>
    </div>

    <!-- EJS Editable Card -->
    <div class="card lecturers-card">
        <i class="fa-solid fa-chart-bar"></i>
        <div class="middle">
            <div class="left">
                <h3>Total Lecturers</h3>
                <h1 id="total-lecturers">0 Lecturer</h1>
            </div>

            
        </div>
        <small class="text-muted" id="total-lecturers-online">0 Online</small>
    </div>

    <!-- EJS Editable Card -->
    <div class="card admins-card">
        <i class="fa-solid fa-chart-line"></i>
        <div class="middle">
            <div class="left">
                <h3>Total Admins</h3>
                <h1 id="total-admins">0 Admin</h1>
            </div>

            
        </div>
        <small class="text-muted" id="total-admins-online">0 Online</small>
    </div>

</div>

<!-- Recent Users -->

<div class="recent-users">
    <h2>New Users</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Major</th>
                <th>Rank</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Anasakko@hotmail.co.il</td>
                <td>@anas.abush</td>
                <td>Software Engineering - Year 1</td>
                <td><b style="color: var(--color-primary);">STUDENT</b></td>
            </tr>
        </tbody>
    </table>
</div>

<%- include("./components/admin-right.ejs") %>